:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --defualt-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--defualt-font-family);
}

nav {
  padding: 5px;
}

nav ul {
  padding: 0;
  margin: 0 75px;
}

nav li {
  list-style: none;
  display: inline;
}

nav a {
  color: #272142;
  font-weight: bold;
  text-decoration: none;
}

nav .pages {
  font-size: 16px;
  line-height: 62px;
}

nav a:hover {
  color: var(--branding-color);
}

nav .logo {
  font-family: var(--heading-font-family);
  font-size: 40px;
}

nav .smallLogo {
  font-family: var(--heading-font-family);
  font-size: 28px;
}

nav .active {
  text-decoration: 3px var(--branding-color) underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.homepage h1,
.content-container h1 {
  font-size: 96px;
  line-height: 1.5;
}

.homepage h2,
.content-container h2 {
  font-size: 64px;
}

.homepage p,
.content-container p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.homepage .hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.homepage .hero p,
.content-container h3 {
  color: #272142;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.homepage .hero h2,
.content-container h2 {
  color: #272142;
  font-family: var(--defualt-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}

.homepage .btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}

.homepage .project-btn,
.content-container .project-btn {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}

.homepage .project-btn:hover,
.content-container .project-btn:hover {
  background-color: var(--branding-color);
  border: 1px solid white;
  color: white;
}

.homepage .project-description {
  padding: 120px 0px 0px 60px;
}

.content-container .content {
  background-color: var(--secondary-color);
  padding: 80px 160px;
}
.content-container h3 {
  margin: 20px;
}

.content-container .projects {
  margin: 10px;
}

.content-container .work {
  margin-top: 30px;
  text-align: center;
}
.contact {
  text-align: center;
}

.contact a {
  font-size: 24px;
  text-decoration: none;
  color: var(--branding-color);
  text-transform: uppercase;
  padding: 0 3px;
}

.contact a:hover {
  background-color: var(--branding-color);
  color: var(--secondary-color);
  font-family: var(--defualt-font-family);
}

@media (max-width: 786px) {
  .homepage h1,
  .content-container h1 {
    font-size: 44px;
    line-height: 1;
  }
  .homepage h2 {
    font-size: 44px;
  }

  .homepage .hero {
    padding: 80px 20px;
  }
  .homepage .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container .content {
    padding: 30px 20px;
  }

  .content-container h3 {
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
    line-height: 32px;
  }

  .content-container p {
    text-align: center;
  }

  .content-container .project-btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  nav ul {
    padding: 0;
    margin: 0 10px;
  }

  nav .pages {
    font-size: 12px;
    line-height: 44px;
  }
}
