:root {
  --branding-color: #292b2d;
  --secondary-color: #f6f4f1;
  --heading-color: #292b2d;
  --text-color: #292b2d;
  --heading-font-family: "Playfair Display", serif;
  --defualt-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--defualt-font-family);
  margin: 0 auto;
}

.navbar-brand {
  font-weight: bold;
  font-family: var(--heading-font-family);
  font-size: 28px;
}

.nav-item .logo {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  color: var(--branding-color);
}

.navbar-nav .nav-link {
  font-size: 16px;
  line-height: 40px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav .container {
  background-color: var(--secondary-color);
}

nav a:hover,
footer a:hover,
.nav-item .logo:hover {
  text-decoration: underline;
}

nav .active {
  text-decoration: 2px var(--branding-color) underline;
}

.top-banner {
  background-color: var(--branding-color);
  color: var(--secondary-color);
  margin: 0 70px;
  padding: 5px;
  text-align: center;
}
.homepage,
.pageContainer {
  margin-top: 80px;
  padding: 0px;
}

h1,
h3,
h4 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.homepage h1,
.pageContainer h1 {
  font-size: 74px;
  line-height: 1.5;
}

.homepage p,
.pageContainer p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.homepage .hero,
.headingContainer {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 90px 20px;
}

.pageContainer h3 {
  font-family: var(--heading-font-family);
  font-size: 36px;
  line-height: 1.5;
  margin: 20px;
}

.pageContainer h4 {
  color: var(--text-color);
  font-size: 30px;
  line-height: 36px;
}

.image {
  max-height: 550px;
}

.homepage .hero h2,
.pageContainer h2 {
  color: var(--text-color);
  font-family: var(--defualt-font-family);
  font-size: 26px;
  font-weight: normal;
  line-height: 1.5;
  margin: 50px;
}

.homepage .btn-branding,
footer .contactButton,
.closeButton,
.homepage .project-btn:hover,
.pageContainer .projectButton:hover,
.pageContainer .certificateButton:hover,
.pageContainer .learnMore,
.contact a:hover {
  background: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: #f6f4f1;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  text-decoration: none;
}

/* .homepage .btn-branding:hover,
footer .contactButton:hover,
.closeButton {
  border: 2px solid #f6f4f1;
  color: #f6f4f1;
} */

.homepage .project-btn,
.pageContainer .projectButton,
.pageContainer .certificateButton,
.closeButton:hover,
.pageContainer .learnMore:hover,
.contact a,
.homepage .btn-branding:hover,
footer .contactButton:hover {
  background-color: #f6f4f1;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  text-decoration: none;
}

/* .homepage .project-btn:hover,
.pageContainer .projectButton:hover,
.pageContainer .certificateButton:hover,
.pageContainer .learnMore,
.contact a:hover {
  background-color: var(--branding-color);
  border: 1px solid #f6f4f1;
  color: #f6f4f1;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
} */

.homepage .project-description {
  padding: 120px 0px 0px 60px;
}

.pageContainer .headingContent {
  background-color: var(--secondary-color);
  margin-top: 50px;
  padding: 80px 160px;
}

.pageContainer .projects {
  margin: 10px;
}

.pageContainer .projects,
.pageContainer {
  margin-top: 30px;
  text-align: center;
}

.projectIcons i {
  font-size: 50px;
  color: var(--heading-color);
  padding: 5px;
  margin: 10px;
}

.badgeGrid-ba,
.badgeGrid-sheCodes {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, 1fr);
}
.badgeGrid-ba .badge img,
.badgeGrid-sheCodes .badge img {
  width: 100%;
  transition: 200ms ease-in-out;
}

.badgeGrid-ba .badge img:hover,
.badgeGrid-sheCodes .badge img:hover {
  transform: scale(1.3);
}

.ongoing {
  filter: grayscale(1);
}

.certificateIcons i {
  font-size: 45px;
  color: var(--heading-color);
  /* padding: 5px; */
  margin: 5px 7px;
}

.bcsLogo {
  max-width: 65px;

  margin: 5px 25px;
}
.projectButtons {
  justify-content: space-between;
}

.contact {
  text-align: center;
}

footer {
  padding: 10px;
  margin: 20px;
  text-align: center;
}

footer .contactMeBox {
  background-color: var(--secondary-color);
  margin: 0 100px;
  padding: 30px 80px;
}

footer .email {
  line-height: 40px;
}

footer a {
  color: var(--text-color);
  text-decoration: none;
}

footer .icon {
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin: 20px;
  padding: 10px 14px;
  font-size: 24px;
  line-height: 45px;
}

.ImageMe {
  border: 3px solid var(--branding-color);
  padding: 5px;
  max-height: 550px;
}

.smallImagecontainer {
  text-align: center;
}

.smallImage {
  border: 3px solid var(--branding-color);
  border-radius: 50%;
  padding: 3px;
  max-height: 270px;
  margin: 5px;
}

@media (max-width: 768px) {
  .homepage h1,
  .pageContainer h1 {
    font-size: 44px;
    line-height: 1;
  }

  .homepage .hero h2,
  .pageContainer h2 {
    font-size: 16px;
  }

  .homepage .hero {
    padding: auto;
    margin: auto;
  }
  .homepage .project-description {
    padding: 0;
    text-align: center;
  }

  .pageContainer .headingContent {
    text-align: center;
    padding: 30px 20px;
  }

  .pageContainer h3 {
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
    line-height: 32px;
  }

  .pageContainer h4 {
    font-size: 27px;
    line-height: 32px;
  }

  .pageContainer p {
    text-align: center;
  }

  .pageContainer .project-btn,
  .pageContainer .learnMore,
  .pageContainer .projectButton,
  .pageContainer .certificateButton,
  .closeButton {
    margin: 5px auto;
    display: flex;
  }

  .headingContainer {
    padding-bottom: 40px;
  }

  .headingContainer h2 {
    margin-top: 25px;
  }

  .projectIcons i {
    font-size: 50px;
    margin: 5px;
    padding: 0;
  }

  .image {
    margin: 10px auto;
    max-height: 400px;
  }

  .badgeGrid-ba,
  .badgeGrid-sheCodes {
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }

  .badgeGrid-ba .badge img:hover,
  .badgeGrid-sheCodes .badge img:hover {
    transform: scale(1);
  }

  nav ul {
    padding: 0 auto;
    margin: 0 auto;
  }

  nav .pages {
    font-size: 12px;
    line-height: 44px;
  }
  .top-banner {
    font-size: 12px;
    margin: auto;
  }

  footer .contactMeBox {
    margin: 0 auto;
  }

  footer .icon {
    margin: 5px;
    padding: 8px 11px;
    font-size: 20px;
    line-height: 30px;
  }
}
