:root {
  --branding-color: #ffba90;
  --secondary-color: #eae7ff;
  --heading-color: #3d2e55;
  --text-color: #595880;
  --heading-font-family: "Playfair Display", serif;
  --defualt-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--defualt-font-family);
  margin: 0 auto;
}

nav {
  background-color: white;
  margin: 0 auto;
}
.container {
  padding-left: 0;
  padding-right: 0;
}

nav ul {
  padding: 0;
  margin: 0 75px;
}

nav a {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
}

nav .pages {
  font-size: 16px;
  line-height: 62px;
  list-style: none;
  display: inline;
}

nav a:hover,
footer a:hover {
  color: var(--branding-color);
}

nav .logo {
  font-family: var(--heading-font-family);
  font-size: 40px;
}

nav .smallLogo {
  font-family: var(--heading-font-family);
  font-size: 28px;
}

nav .active {
  text-decoration: 3px var(--branding-color) underline;
}

h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.homepage h1,
.pageContainer h1 {
  font-size: 96px;
  line-height: 1.5;
}

.homepage h2,
.pageContainer h2 {
  font-size: 64px;
}

.homepage p,
.pageContainer p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.homepage .hero,
.headingContainer {
  background-color: var(--secondary-color);
  text-align: center;
  margin-top: 50px;
  padding: 160px 20px;
}

.pageContainer h3 {
  font-size: 36px;
  line-height: 36px;
  margin: 20px;
}

.pageContainer h4 {
  color: var(--text-color);
  font-size: 30px;
  line-height: 36px;
}

.Image {
  max-height: 550px;
}

.homepage .hero h2,
.pageContainer h2 {
  color: var(--text-color);
  font-family: var(--defualt-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}

.homepage .btn-branding,
footer .contactButton {
  background: var(--branding-color);
  border: 2px solid var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}

.homepage .btn-branding:hover,
footer .contactButton:hover {
  border: 2px solid white;
  color: white;
}

.homepage .project-btn,
.pageContainer .projectButton,
.pageContainer .learnMore:hover,
.contact a {
  background-color: white;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  padding: 18px 30px;
}

.homepage .project-btn:hover,
.pageContainer .projectButton:hover,
.pageContainer .learnMore,
.contact a:hover {
  background-color: var(--branding-color);
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}

.homepage .project-description {
  padding: 120px 0px 0px 60px;
}

.pageContainer .headingContent {
  background-color: var(--secondary-color);
  margin-top: 50px;
  padding: 80px 160px;
}

.pageContainer .projects {
  margin: 10px;
}

.pageContainer .work,
.pageContainer {
  margin-top: 30px;
  text-align: center;
}

.projectIcons i {
  font-size: 50px;
  color: var(--heading-color);
  padding: 5px;
  margin: 10px;
}
.projectButtons {
  justify-content: space-between;
}

.contact {
  text-align: center;
}

footer {
  padding: 10px;
  margin: 20px;
  text-align: center;
}

footer .contactMeBox {
  background-color: var(--secondary-color);
  margin: 0 100px;
  padding: 30px 80px;
}

footer .email {
  line-height: 40px;
}

footer a {
  color: var(--text-color);
  text-decoration: none;
}

footer .icon {
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin: 20px;
  padding: 10px 14px;
  font-size: 24px;
  line-height: 45px;
}

.ImageMe {
  border: 3px solid var(--branding-color);
  padding: 5px;
  max-height: 550px;
}

.smallImagecontainer {
  text-align: center;
}

.smallImage {
  border: 3px solid var(--branding-color);
  border-radius: 50%;
  padding: 3px;
  max-height: 270px;
  margin: 5px;
}

@media (max-width: 768px) {
  .homepage h1,
  .pageContainer h1 {
    font-size: 44px;
    line-height: 1;
  }

  .homepage h2 {
    font-size: 44px;
  }

  .homepage .hero {
    padding: 100px 20px;
  }
  .homepage .project-description {
    padding: 0;
    text-align: center;
  }

  .pageContainer .headingContent {
    text-align: center;
    padding: 30px 20px;
  }

  .pageContainer h3 {
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
    line-height: 32px;
  }

  .pageContainer h4 {
    font-size: 27px;
    line-height: 32px;
  }

  .pageContainer p {
    text-align: center;
  }

  .pageContainer .project-btn,
  .pageContainer .learnMore,
  .pageContainer .projectButton {
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }

  .projectIcons i {
    font-size: 50px;
    margin: 5px;
    padding: 0;
  }

  .Image {
    margin: 10px auto;
    max-height: 400px;
  }

  nav ul {
    padding: 0 auto;
    margin: 0 auto;
  }

  nav .pages {
    font-size: 12px;
    line-height: 44px;
  }

  footer .contactMeBox {
    margin: 0 auto;
  }

  footer .icon {
    margin: 5px;
    padding: 8px 11px;
    font-size: 20px;
    line-height: 30px;
  }
}
